<div class="row vertical-align header ">
  <div class="col-md-7 text-right vcenter">
      <%= image_tag("header.png")%>
  </div>
  <div class="col-md-5 text-left vcenter">
    <div class="row vertical-align ">
      <div class="col-md-8 ">
        <% unless @q.blank? %>
          <%= search_form_for @q, url: search_products_path, html: {method: :post} do |f| %>
             <%= f.search_field :title_or_description_or_category_cont , id: "search_field", placeholder:"小丸子童年书包"%>
             <%= button_tag type: "submit", id: "search_button" do%>
                <i class="fa fa-search" aria-hidden="true"></i>
             <% end %>
          <% end %>
        <% end %>
      </div>
      <!-- <div class="col-md-1">
        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      </div> -->
    </div>
  </div>
</div>
<!-- nav -->
<% unless @categoies.blank? %>
<div>
  <ul class="list-inline text-center category-list">
    <li class="category-item">
      <%= link_to("首页", products_path) %>
    </li>
    <% @categoies.each do |cate| %>
      <li class="category-item">
      <%= link_to(cate.name, filter_by_category_product_path(cate)) %>
     </li>
    <% end %>
  </div>
  <% end %>
</div>
