<div class="row vertical-align header ">
  <div class="col-md-6 text-right vcenter">
      <%= image_tag("header.png")%>
  </div>
  <div class="col-md-5 text-left vcenter">
    <div class="row vertical-align ">
      <div class="col-md-7 search-bar ">
        <% unless @q.blank? %>
          <%= search_form_for @q, url: search_products_path, html: {method: :post} do |f| %>
             <%= f.search_field :title_or_description_or_category_cont , id: "search_field", placeholder:"小丸子童年书包"%>
             <%= button_tag type: "submit", id: "search_button" do%>
                <i class="fa fa-search" aria-hidden="true"></i>
             <% end %>
          <% end %>
        <% end %>
      </div>

        <% if current_cart.cart_items.size == 0 %>
          <div class="col-md-1 cart-icon">
            <%= link_to(carts_path)  do %>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <% end %>
          </div>
        <% else %>
          <div class="col-md-1 cart-icon">
            <a id="popover-trigger" rel="popover" data-placement="bottom" href="#" data-popover-content="#popover-data" class="btn">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <%= content_tag :span, current_cart.products.count, class: 'badge' %>
            </a>
          </div>
          <div id="popover-data" class="hide">
              <% unless current_cart.cart_items.blank? %>
                <div class="container" id="my-popover-container">
                    <div class="product-list">
                      <% current_cart.cart_items.each do |cart_item| %>
                        <div class="row">
                            <div class="image col-md-2">
                              <%= image_tag(cart_item.product.image, :width => 50, :height => 50)%>
                            </div>
                            <div class="col-md-7">
                              <div class="row title">
                                <%= cart_item.product.title %>
                              </div>
                              <div class="row simple-info">
                                <div class="col-md-8 type">白色</div>
                                <div class="col-md-2 quantity">
                                    x<%=cart_item.quantity%>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row price">
                                  <div class="col-md-4">
                                    ¥<%=cart_item.product.price%>
                                  </div>
                                  <div class="col-md-4">
                                    <%= link_to(remove_product_cart_path(cart_item.product), method: :post) do%>
                                      <i class="fa fa-times" aria-hidden="true"></i>
                                    <% end %>
                                  </div>
                                </div>
                            </div>

                        </div>
                      <% end %>
                    </div>
                    <div class="shop-bar row">
                        <div class="col-md-6">
                            <span class="total-info">商品合计:</span>
                            <span class="total-price">¥<%= current_cart.cart_total_price %></span>
                        </div>
                        <div class="colo-md-6">
                          <%= link_to("去购物车结算", carts_path ,class: "btn btn-sm btn-danger") %>
                        </div>

                    </div>
                </div>
              <% end %>
          </div>
        <% end %>





    </div>
  </div>
</div>
<!-- nav -->
<% unless @categoies.blank? %>
<div>
  <ul class="list-inline text-center category-list">
    <li class="category-item">
      <%= link_to("首页", products_path ,:class => "active")  %>
    </li>
    <% @categoies.each do |cate| %>
      <li class="category-item">
      <%= link_to(cate.name, filter_by_category_product_path(cate)) %>
     </li>
    <% end %>
  </div>
  <% end %>
</div>
