<div class="container-fluid payment-page">
 <h2>
   选择付款方式
 </h2>
 <div class="row">
   <div class="col-md-6">
     <span class="order-number">订单号: </span><span class="order-number" id="order-number"><%=@order.token%></span>
   </div>
   <div class="col-md-6">
     实付：<span class="total-price">¥<%=@order.total%></span>
   </div>
 </div>
 <div class="row content">
   <div class="row header">
     支付方式
   </div>
   <div class="row pay-method">
       <div class="col-md-4">
         <input type="radio" name="pay" value="zhifubao" id="pay_zhifubao" checked>
         <%= image_tag("http://oqev5xdrn.bkt.clouddn.com/zhifubao.png", :width => 100, :height=>40 ) %>
       </div>
       <div class="col-md-4">
         <input type="radio" name="pay" id="pay_wechat" value="wechat">
         <%= image_tag("http://oqev5xdrn.bkt.clouddn.com/wechat.png", :width=>100, :height=>40 ) %>
       </div>
       <div class="col-md-4">
         <input type="radio" name="pay" id="pay_visa" value="visa">
         <%= image_tag("http://oqev5xdrn.bkt.clouddn.com/visia.png", :width=>100, :height=>40 ) %>
       </div>
   </div>
 </div>
 <div class="row footer pull-right">
   <%=link_to("立即付款", "", class:"btn btn-lg btn-danger", id: "btn-pay-now") %>
 </div>
</div>
