<!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->
<div class="container usercenter-page">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic text-center">
          <%= link_to usercenter_upload_user_avatar_path, method: :post do%>
          <i class="fa fa-camera" aria-hidden="true"></i>
          <% end %>

          <% if current_user.avatar.blank? %>
            <%=image_tag("http://yanxuan.nosdn.127.net/485ff1be6912be6ae696b6d360d1b101.png", :class=>"img-circle")%>
          <% else %>
            <%=image_tag(current_user.avatar.medium, :class=>"img-circle")%>
          <% end %>

				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
            <%= current_user.user_display_name %>
					</div>
					<div class="profile-usertitle-job">
						<%= current_user.email %>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->

				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
            <li>
              <%= link_to personal_usercenter_index_path ,method: :post, :remote => true do%>
              <i class="glyphicon glyphicon-user"></i>
              个人信息
              <% end %>
						</li>
						<li class="active">
              <%= link_to order_usercenter_index_path, method: :post , :remote => true do%>
              <i class="glyphicon glyphicon-th-list"></i>
							订单管理
              <% end %>
						</li>

						<li>
							<%= link_to address_usercenter_index_path ,method: :post, :remote => true do%>
							<i class="glyphicon glyphicon-map-marker"></i>
							地址管理 </a>
              <% end %>
						</li>
            <li>
							<%= link_to favorite_usercenter_index_path ,method: :post, :remote => true do%>
							<i class="glyphicon glyphicon-heart"></i>
							我的收藏 </a>
              <% end %>
						</li>
            <% if current_user.is_admin %>
              <li>
                <%= link_to category_usercenter_index_path ,method: :post, :remote => true do %>
  							<i class="glyphicon glyphicon-align-justify"></i>
  							商品分类 </a>
                <% end %>
  						</li>
              <li>
                <%= link_to product_usercenter_index_path ,method: :post, :remote => true do %>
  							<i class="fa fa-cubes" aria-hidden="true"></i>
  							所有商品 </a>
                <% end %>
  						</li>
						<% end %>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content" id="profile-content">

            </div>
		</div>
	</div>
</div>
<center>

</center>
<br>
<br>
