<div class="container-fluid cart-detail">

  <div class="row address-info">
    <div class="row header">
      收获信息
    </div>
    <div class="row content">
      <% unless @address.blank? %>
        <div class="row default-address">
          <i class="fa fa-map-marker" aria-hidden="true"></i> <%= @address.address %> <%= link_to "修改", edit_address_path(@address), :class => "btn btn-sm btn-primary "%>
        </div>
        <div class="row detail">
          <div class="col-md-8">
            <span class="name">收货人 :</span> <span class="value"><%=@address.name%></span> <br />
            <span class="name">联系方式 :</span><span class="value"><%=@address.contact_info%></span> <br />
            <span class="name">收货地址 :</span><span class="value"><%=@address.address%></span> <br />
          </div>
          <div class="col-md-1">
            <div class="line">
            </div>
          </div>
          <div class="col-md-3 switch-address text-center">

            <button class="btn-modal"
                    data-toggle="modal"
                    data-target="#fsModal">
              切换地址
            </button>
            <br />
            <%= link_to "新建地址", new_address_path, :class => "btn btn-lg btn-primary"%>
          </div>
        </div>
      <% else %>
        <%= link_to "新建地址", new_address_path, :class => "btn btn-lg btn-primary"%>
      <% end %>
    </div>
  </div>

  <div class="row product-list">
    <table class="table">
      <thead>
        <td>
          商品信息
        </td>
        <td>
          单价
        </td>
        <td>
          数量
        </td>
        <td>
          小计
        </td>
        </tr>
      </thead>
      <tbody>
        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <div class="thumbnail-info">
                <%= image_tag(cart_item.product.image, :width => 50, :height => 50) %>
                <%= cart_item.product.title %>
              </div>
            </td>
            <td>
              ¥<%=cart_item.product.price%>
            </td>
            <td>
              <%=cart_item.quantity%>
            </td>
            <td>
              <%=cart_item.quantity * cart_item.product.price%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row order-bar">
    <div class="col-md-2 col-md-offset-10">
      <div class="row">
          <span>应付总额:</span> <span class="total-price">¥<%=current_cart.cart_total_price%></span>
      </div>
      <div class="row">
        <% if !@order.blank? %>
          <%=link_to "去付款", pay_method_orders_path, class:"btn btn-lg btn-danger"%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div id="fsModal"
     class="modal animated bounceIn"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">

  <!-- dialog -->
  <div class="modal-dialog">

    <!-- content -->
    <div class="modal-content">
      <!-- body -->
      <div class="modal-header">
        选择地址
      </div>
      <div class="modal-body">
        <%= hidden_field_tag :current_address_id, @address.id %>
        <% unless @allAddress.blank?%>
          <table class="table select-address-list">
            <tbody>
              <% @allAddress.each do |adr|%>

                 <% if @address.id == adr.id %>
                    <tr class="active" id='<%=adr.id%>' >
                  <% else %>
                    <tr id='<%=adr.id%>' >
                  <% end %>
                        <td>
                          <%=adr.name%>
                        </td>
                        <td>
                          <%=adr.address%>
                        </td>
                        <td class="select-address-list-checkbox">
                          <% if @address.id == adr.id %>
                            <i class="fa fa-check-square icon" aria-hidden="true"></i>
                          <% end %>
                        </td>
                    </tr>
              <% end %>
            </tbody>

          </table>
        <% end %>
      </div>
      <!-- body -->
      <div class="modal-footer">
        <a class = "btn btn-lg btn-danger" id = "btn-confirm-address-model">确定</a>
        <a class ="btn btn-lg btn-danger" id = "btn-cancel-address-model">取消</a>
      </div>
    </div>
    <!-- content -->

  </div>
  <!-- dialog -->

</div>
<!-- modal -->
