<div class="container cart-content">
  <div class="header row item-title">
    <div class="col-md-1 ">
      <input type="checkbox" id="check-all"/> 全选
    </div>
    <div class="col-md-4">
      商品信息
    </div>
    <div class="col-md-1">
      单价
    </div>
    <div class="col-md-3 text-center">
      数量
    </div>
    <div class="col-md-2">
      小计
    </div>
  </div>

  <div class="m-boby row">
    <%  unless get_current_cart.cart_items.blank? %>
      <%  get_current_cart.cart_items.each do |cart_item| %>
      <div class="row item">

        <div class="inner-item col-md-11">
          <div class="col-md-1 cell">
            <input type="checkbox" id="check_" + '<%=cart_item.id%>'/>
          </div>
          <div class="col-md-2">
            <%= link_to(image_tag(cart_item.product.image, :width => 80, :height => 80), product_path(cart_item.product)) %>
          </div>
          <div class="col-md-2 text-left cell">
            <div class="row">
              <%= link_to(cart_item.product.title, product_path(cart_item.product))%>
            </div>
            <div class="row sub-title ">
              黑色
            </div>
          </div>
          <div class="col-md-2 cell">
            ¥<%=cart_item.product.price %>
          </div>
          <div class="col-md-2 adjust-quantity text-left cell">
            <div class="adjust-item-minus col-md-4">
            <%=link_to(decrease_product_cart_path(cart_item.product), method: :post ) do %>

                <i class="fa fa-minus" aria-hidden="true"></i>
            <%end%>
            </div>
            <div class="adjust-item-num col-md-4 text-center">
              <span><%=cart_item.quantity %></span>
            </div>
            <div class="adjust-item-add  col-md-4 text-right ">
             <%=link_to(increase_product_cart_path(cart_item.product), method: :post) do %>
               <i class="fa fa-plus" aria-hidden="true"></i>
             <%end%>
             </div>
          </div>
          <div class="col-md-2 price cell text-center">
            <span>¥<%=cart_item.quantity* cart_item.product.price%></span>
          </div>
          <div class="col-md-1 cell text-right">
            <%= link_to(remove_immediately_product_cart_path(cart_item.product), method: :post) do%>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      </div>

      <% end %>
    <% else %>
    <div class="m-empty text-center">
        <div class="row">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
        <div class="row">
            <span>购物车还是空滴</span>
        </div>
        <div class="row">
            <%= link_to("继续逛", products_path, class:"btn btn-bg btn-primary")%>
        </div>
    </div>
    <% end %>
  </div>
  <div class="footer">
    <div class="col-md-2 checkbox">
      <% if @cart.cart_items.blank? %>
        <input type="checkbox" id="check-all"/> 已选(0)
      <% else %>
        <input type="checkbox" id="check-all"/> 已选(<%=get_current_cart.cart_items.size %>)
      <% end %>
    </div>
    <div class="col-md-2 ">
      <%= link_to("批量删除", clear_cart_path(get_current_cart), method: :post)%>
    </div>
    <div class="col-md-4 text-right">
      <span class="total-info">商品合计: ¥<%= get_current_cart.cart_total_price %></span>
      <span>应付总额:</span>
    </div>
    <div class="col-md-2 total-price">
      <span class=""><%= get_current_cart.cart_total_price %></span>
    </div>
    <div class="col-md-2 btn-order" id="btn-order">
      <div class="row">
        <%= link_to("下单", checkout_carts_path, method: :post)%>
      </div>

    </div>
  </div>
</div>
