<div class="row">
  <div class="col-md-12">
    <h2>地址列表</h2>
    <div class="row text-right">
      <%=link_to("新增地址", new_address_path, class:"btn btn-lg btn-danger admin_btn_new")%>
    </div>
    <table class="table table-boderness">
        <thead>
          <tr>
            <th>收货人</th>
            <th>地址</th>
            <th>默认地址</th>
            <th>联系方式</th>
            <th colspan="3">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>

              <td>
                <%= address.name %>
              </td>
              <td>
                <%= address.address %>
              </td>
              <td>
                <%= address.is_default == 1 ? "是" : "不是" %>
              </td>
              <td>
                <%= address.contact_info %>
              </td>
              <td>
                <%= link_to("设为默认",set_default_address_path(address), method: :post, class:"btn btn-sm btn-danger")%>
              </td>
              <td>
                <%= link_to("编辑", edit_address_path(address), class:"btn btn-sm btn-danger") %>
              </td>
              <td>
                <%= link_to("删除", address_path(address), method: :delete, class:"btn btn-sm btn-danger") %>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
