<div class="admin-category-list">
  <%= link_to "所有分类",product_usercenter_index_path ,method: :post, :remote => true , :class => "active" %>
  <b>|</b>
  <% @categoies.each do |cate| %>
      <% if !@isJSMode.blank? %>
        <%= link_to(cate.name, filterbycategory_usercenter_index_path ,method: :post, :remote => true, :cate_id =>cate.id ) %>
      <% else %>
        <%= link_to(cate.name, filter_by_category_admin_product_path(cate)) %>
      <% end %>
      <b>|</b>
  <% end %>
</div>
<br />
<table class="table table-boderness">

  <thead>
    <th>商品名</th>
    <th>描叙</th>
    <th>价格</th>
    <th>库存</th>
    <th>状态</th>
    <th>创建日期</th>
    <th colspan="2">编辑</th>

  </thead>

  <tbody>
      <% if @isJSMode.blank? %>
        <%= render :partial => 'productitem', :collection => @products, as: :product %>
      <% else %>
        <%= render :partial => 'admin/products/productitem', :collection => @products, as: :product %>
      <% end %>
  </tbody>

</table>
