<h2><%=title%></h2>
<div class="container-fluid">
  <%= simple_form_for [:admin, @homead] do |f| %>
    <div class="form-group">
      <%= f.input :name , label: "广告名"%>
      <%= f.input :priority , label: "优先级"%>
      <%= f.input :online , label: "是否上线", :input_html => { :checked => @homead.online }%>
      <%=image_tag(@homead.image, :class => "upload-ad-image")%>
      <%= f.input :image , label: "上传广告图片"%>
      <%= f.input :product_id, label: "关联商品", :collection => @products, :value_method => :id, :label_method => :title%>
      <%= f.submit submit_title, class: "btn btn-lg btn-danger", disable_with: "Submiting..."%>
    </div>
  <% end %>
</div>
