<div class="container-fluid">

  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <%= image_tag("http://oqev5xdrn.bkt.clouddn.com/home-header-1.jpg", class:"carousel-img")%>
        </div>

        <div class="item">
          <%= image_tag("http://oqev5xdrn.bkt.clouddn.com/home-header-2.jpg", class:"carousel-img")%>
        </div>

        <div class="item">
          <%= image_tag("http://oqev5xdrn.bkt.clouddn.com/home-header-3.jpg", class:"carousel-img")%>
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="products text-center">

      <% @categoies.each do |cate| %>
        <% unless @all_products[cate.name].blank? %>
          <%= cate.name %>
          <hr />
          <table class="table borderless">
          <% @all_products[cate.name].each_with_index do |product, index|%>
            <% if (index % 4) == 0 %>
              <tr>
            <% end %>
              <td>
                <div class="product_thumbnail text-center col-sm-4">
                  <%= link_to(image_tag(product.image, :alt => product.title, :width => 200, :height => 200), product_path(product)) %>
                  <br />
                  <%= link_to(product.title, product_path(product)) %>
                </div>
              </td>
            <% if ((index+1) % 4 )== 0 || index == (@all_products[cate.name].size-1) %>
             </tr>
             <% end %>
          <% end %>
          </table>
        <% end %>

      <% end %>

    </div>

</div>
