<!DOCTYPE html>
<html>
  <head>
    <title> 童婴严选 </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid body_container">
      <%= render 'comm/navbar' %>
      <%= render "comm/flashes" %>
      <%= render "comm/header" %>
      <%= yield %>
    </div>
    <%= render 'comm/footer' %>
  </body>

  <script>
  $(document).ready(function() {

    $("#product-review-list").hide();

    $("#tab-detail").click(function(){
      $("#product-detail-info").show();
      $("#product-review-list").hide();
      $("#tab-review").removeClass("active");
      $("#tab-detail").addClass("active");
    });
    $("#tab-review").click(function(){
      console.log("#tab-review");
      $("#product-detail-info").hide();
      $("#product-review-list").show();
      $("#tab-detail").removeClass("active");
      $("#tab-review").addClass("active");
    });

    function handleHomeCategoryState() {
      var current_category = $("#category").val();
      var index = 0;
      $(".category-item > a").each(function () {

         if(current_category == null){
           if(index == 0){
             $(this).addClass("active");
           }
           else{
             $(this).removeClass("active")
           }
          }
          else{
            if($(this).text() == current_category){
              $(this).addClass("active")
            }
            else{
              $(this).removeClass("active")
            }
          }
          index++;

      })

    }

    function handleMouseOverCartIcon() {
      $('#popover-trigger').popover({
          container: 'body',
          html: true,
          content: function () {
              var clone = $($(this).data('popover-content')).clone(true).removeClass('hide');
              return clone;
          }
      }).click(function(e) {
          e.preventDefault();
      });

      $('#popover-trigger').bind("mouseenter focus ", function(event){
        $('#popover-trigger').popover("toggle");
      });

      $('#popover-data').bind("mouseleave", function(event){
        $('#popover-trigger').popover("toggle");
      });
    }

    function handleUserCenterPaginateLinks(){
  
      var pagination = $(".admin-categoryJS-page").find(".flickr_pagination");
        $(pagination).find("a").attr('data-remote', 'true');
        console.log('\n\n handleUserCenterPaginateLinks: ' + JSON.stringify($(pagination).find("a")));
    }

    function handleUserCenterMenuLinkClick() {

      $(document).on('click', '.profile-usermenu a', {}, function(event){
        event.preventDefault();
        event.stopImmediatePropagation();
        var href = $(this).attr("href");
        var url = window.location.origin + href;
        $.ajax(
          {
            type: "POST",
            url: url,
            dataType: "html"
          }
        ).success(function (json) {
          console.log("1 handleUserCenterMenuLinkClick url: " + url + " \n json: " + JSON.stringify(json));
          handleUserCenterPaginateLinks();

        }).error(function (error) {
            console.log("2 handleUserCenterMenuLinkClick url: " + url + " \n Error: " + JSON.stringify(error));
        });

      });
    }

    function handleAddressListModalEvents() {
      $("#btn-confirm-address-model").click(function(){
        event.preventDefault();
        event.stopImmediatePropagation();
        $("#fsModal").modal("hide");
      });

      $("#btn-cancel-address-model").click(function(){
        event.preventDefault();
        event.stopImmediatePropagation();
        $("#fsModal").modal("hide");
      });

      $("table.select-address-list > tbody > tr").click(function(){
          var id = $(this).attr('id');
          $("#current_address_id").text(id);
          //remove checkbox
          $("table.select-address-list > tbody > tr").each(function(){
            $(this).removeClass("active");
            var  i = $(this).find("i");
            $(i).remove();
            console.log("i remove" + JSON.stringify(i));
          });
          var tr = $(".select-address-list").find(id);
          $(tr).addClass("active");
          var checkbox = $(tr).find(".select-address-list-checkbox");
          checkbox.append('<i class="fa fa-check-square icon" aria-hidden="true"></i>')
          console.log("tr: " + $(tr).attr("id"));
      });
    }

    function handlePayNowButtonEvent() {
      $("#btn-pay-now").click(function(){
          alert("pay now");
      });
    }



    handleHomeCategoryState();
    handleMouseOverCartIcon();
    handleUserCenterMenuLinkClick();
    handleAddressListModalEvents();
    handlePayNowButtonEvent();

  })
  </script>
</html>
