<!DOCTYPE html>
<html>
  <head>
    <title> 童婴严选 </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid body_container">
      <%= render 'comm/navbar' %>
      <%= render "comm/flashes" %>
      <%= render "comm/header" %>
      <%= yield %>
    </div>
    <%= render 'comm/footer' %>
  </body>

  <script>
  $(document).ready(function() {

    $("#product-review-list").hide();

    $("#tab-detail").click(function(){
      $("#product-detail-info").show();
      $("#product-review-list").hide();
      $("#tab-review").removeClass("active");
      $("#tab-detail").addClass("active");
    });
    $("#tab-review").click(function(){
      console.log("#tab-review");
      $("#product-detail-info").hide();
      $("#product-review-list").show();
      $("#tab-detail").removeClass("active");
      $("#tab-review").addClass("active");
    });

    function handleHomeCategoryState() {
      var current_category = $("#category").val();
      var index = 0;
      $(".category-item > a").each(function () {

         if(current_category == null){
           if(index == 0){
             $(this).addClass("active");
           }
           else{
             $(this).removeClass("active")
           }
          }
          else{
            if($(this).text() == current_category){
              $(this).addClass("active")
            }
            else{
              $(this).removeClass("active")
            }
          }
          index++;

      })

    }

    function handleMouseOverCartIcon() {
      $('#popover-trigger').popover({
          container: 'body',
          html: true,
          content: function () {
              var clone = $($(this).data('popover-content')).clone(true).removeClass('hide');
              return clone;
          }
      }).click(function(e) {
          e.preventDefault();
      });
    }

    handleHomeCategoryState();
    handleMouseOverCartIcon();
  })
  </script>
</html>
