<!DOCTYPE html>
<html>
  <head>
    <title> 童婴严选 </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid body_container">
      <%= render 'comm/navbar' %>
      <%= render "comm/flashes" %>
      <%= render "comm/header" %>
      <%= yield %>
    </div>
    <%= render 'comm/footer' %>
  </body>

  <script>
  $(document).ready(function() {
    $("#tab-detail").click(function(){
      $("#product-detail-info").show();
      $("#product-review-list").hide();
      $("#tab-review").removeClass("active");
      $("#tab-detail").addClass("active");
    });
    $("#tab-review").click(function(){
      console.log("#tab-review");
      $("#product-detail-info").hide();
      $("#product-review-list").show();
      $("#tab-detail").removeClass("active");
      $("#tab-review").addClass("active");
    });
  })
  </script>
</html>
