<!DOCTYPE html>
<html>
  <head>
    <title> 童婴严选 </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid body_container">
      <%= render 'comm/navbar' %>
      <%= render "comm/flashes" %>
      <%= render "comm/header" %>
      <%= yield %>
    </div>
    <%= render 'comm/footer' %>
  </body>

  <script>
  $(document).ready(function() {

    $("#product-review-list").hide();

    $("#tab-detail").click(function(){
      $("#product-detail-info").show();
      $("#product-review-list").hide();
      $("#tab-review").removeClass("active");
      $("#tab-detail").addClass("active");
    });
    $("#tab-review").click(function(){
      console.log("#tab-review");
      $("#product-detail-info").hide();
      $("#product-review-list").show();
      $("#tab-detail").removeClass("active");
      $("#tab-review").addClass("active");
    });

    function handleHomeCategoryState() {
      var current_category = $("#category").val();
      var index = 0;
      $(".category-item > a").each(function () {

         if(current_category == null){
           if(index == 0){
             $(this).addClass("active");
           }
           else{
             $(this).removeClass("active")
           }
          }
          else{
            if($(this).text() == current_category){
              $(this).addClass("active")
            }
            else{
              $(this).removeClass("active")
            }
          }
          index++;

      })

    }

    function handleMouseOverCartIcon() {
      $('#popover-trigger').popover({
          container: 'body',
          html: true,
          content: function () {
              var clone = $($(this).data('popover-content')).clone(true).removeClass('hide');
              return clone;
          }
      }).click(function(e) {
          e.preventDefault();
      });

      $('#popover-trigger').bind("mouseenter focus ", function(event){
        $('#popover-trigger').popover("toggle");
      });

      $('#popover-data').bind("mouseleave", function(event){
        $('#popover-trigger').popover("toggle");
      });
    }

    function handleUserCenterPaginateLinks(){

      var pagination = $(".admin-categoryJS-page").find(".flickr_pagination");
        $(pagination).find("a").attr('data-remote', 'true');
        console.log('\n\n handleUserCenterPaginateLinks: ' + JSON.stringify($(pagination).find("a")));
    }

    function handleUserCenterMenuLinkClick() {

      $(document).on('click', '.profile-usermenu a', {}, function(event){

        // change active item
        $('.profile-usermenu li').each(function(){
          $(this).removeClass("active");
        });
        $(this).parent().addClass("active");
        event.preventDefault();
        event.stopImmediatePropagation();
        var href = $(this).attr("href");
        var url = window.location.origin + href;
        $.ajax(
          {
            type: "POST",
            url: url,
            dataType: "html"
          }
        ).success(function (json) {
          console.log("1 handleUserCenterMenuLinkClick url: " + url + " \n json: " + JSON.stringify(json));
          // handleUserCenterPaginateLinks();

          //we need bind event
          bindbtnSetonlineEvent();

        }).error(function (error) {
            console.log("2 handleUserCenterMenuLinkClick url: " + url + " \n Error: " + JSON.stringify(error));
        });

      });
    }

    function handleAddressListModalEvents() {
      $("#btn-confirm-address-model").click(function(event){
        event.preventDefault();
        event.stopImmediatePropagation();
        $("#fsModal").modal("hide");
      });

      $("#btn-cancel-address-model").click(function(event){
        event.preventDefault();
        event.stopImmediatePropagation();
        $("#fsModal").modal("hide");
      });

      $("table.select-address-list > tbody > tr").click(function(){
          var id = $(this).attr('id');
          $("#current_address_id").text(id);
          //remove checkbox
          $("table.select-address-list > tbody > tr").each(function(){
            $(this).removeClass("active");
            var  i = $(this).find("i");
            $(i).remove();
            console.log("i remove" + JSON.stringify(i));
          });
          var tr = $(".select-address-list").find(id);
          $(tr).addClass("active");
          var checkbox = $(tr).find(".select-address-list-checkbox");
          checkbox.append('<i class="fa fa-check-square icon" aria-hidden="true"></i>')
          console.log("tr: " + $(tr).attr("id"));
      });
    }

    function handlePayNowButtonEvent() {
      $("#btn-pay-now").click(function(event){
          event.preventDefault();
          event.stopImmediatePropagation();

          var paymethod = ''
          if($("#pay_zhifubao").prop('checked')){
            paymethod = "alipay";
          }
          else if($("#pay_wechat").prop('checked')){
            paymethod = "wechat";
          }
          else if($("#pay_visa").prop('checked')){
            paymethod = "visa";
          }
          var myurl = window.location.origin + '/orders/pay_now';
          var orderToken = $('.payment-page #order-number').text();

          console.log(myurl);
          $.ajax(
            {
              type: "POST",
              url:myurl,
              data:{'paymethod':paymethod, 'id':orderToken},
              dataType: "text"
            }
          ).success(function(json){
              console.log("[handlePayNowButtonEvent] success url: " + myurl + "\n json: " + json);
              var myurl = window.location.origin + '/orders/'+orderToken;
              window.open(myurl, '_self');
          }).error(function(error){
              console.log("[handlePayNowButtonEvent] error url: " + myurl + "\n json: " + json);
          });

      });
    }

    function handleCartListEvent() {

      // cheakbox event
      var checkall =  $(".cart-content #check-all");
      $(checkall).on("change", function(){
          var bChecked = $(this).prop('checked');
          setCheckallButtonStateForCartList(bChecked);
      });

      $(".cart-content .m-boby .item").find("input").each(function(){
        $(this).change(function(){
            if(false == $(this).prop('checked')){
              $(".cart-content #check-all").prop("checked",false);
            }
            updateSelectedProductInfo("已选("+selectedProductCount()+")");
        });
      });

      //order event
      var btn_order = $('.cart-content #btn-order-it');
      $(btn_order).on("click", function(event){

          if(!hasCartItemSelected()){
            event.preventDefault();
            event.stopImmediatePropagation();
            alert("下单前，请选择要购买的商品");
          }
          else{
            if(hasUnselectedItems()){
              event.preventDefault();
              event.stopImmediatePropagation();
              var href = $(this).prop('href')
              $.ajax(
                {
                  type: "POST",
                  url: href,
                  data:{"product_ids":selectedCartItemIds()},
                  dataType: "html"
                }
              ).success(function(result){
                  console.log("success : btn-order-it: " + result);
                  //  $("html").html(result);
                  var newDoc = document.open("text/html", "replace");
                  newDoc.write(result);
                  newDoc.close();
              })
              .error(function(error){
                  console.log("error : btn-order-it: " + result);
              });
            }
          }
      });
    }

    function setCheckallButtonStateForCartList(checked){
      $(".cart-content .m-boby .item").find("input").each(function(){
          $(this).prop('checked', checked);
      });
      updateSelectedProductInfo("已选("+selectedProductCount()+")");
    }

    function hasCartItemSelected() {
      var bret = false;
      var checkall =  $(".cart-content #check-all");
      if($(checkall).prop('checked')== true){
        bret =  true;
      }

      $(".cart-content .m-boby .item").find("input").each(function(){
        if($(this).prop('checked') == true){
          bret = true;
          return;
        }
      });
      return bret;
    }

    function hasUnselectedItems() {
      var bret = false;
      $(".cart-content .m-boby .item").find("input").each(function(){
        if($(this).prop('checked') == false){
          bret = true;
          return;
        }
      });
      return bret;
    }

    function selectedCartItemIds(){
      var itemIds =[];
      $(".cart-content .m-boby .item").find("input").each(function(){
        if($(this).prop('checked') == true){
          itemIds.push($(this).prop('id'));
        }
      });
      return itemIds;
    }

    function updateSelectedProductInfo(str) {
        $("#select-info").text(str);
    }

    function selectedProductCount(){
      var count = 0;
      $(".cart-content .m-boby .item").find("input").each(function(){
          if($(this).prop('checked')){
            count++;
          }
      });
      return count;
    }

    function insertParam(key, value){
      key = encodeURI(key);
      value = encodeURI(value);
      var kvp = document.location.search.substr(1).split('&');
      var i=kvp.length;
      var x;
      while(i--)
      {
          x = kvp[i].split('=');

          if (x[0]==key)
          {
              x[1] = value;
              kvp[i] = x.join('=');
              break;
          }
      }

      if(i<0) {kvp[kvp.length] = [key,value].join('=');}

      //this will reload the page, it's likely better to store this until finished
      document.location.search = kvp.join('&');
    }

    function reloadConententForUserCenter() {

      console.log("reloadConententForUserCenter path: " + window.location.pathname);
      console.log("reloadConententForUserCenter search: " + window.location.search);

      if(window.location.pathname =="/usercenter"){
        var searchStr = window.location.search;
        var url = window.location.origin + window.location.pathname;
        var query = ''
        if(searchStr.search('address') != -1){
          query = 'address';
        }
        else if(searchStr.search('product_ad') != -1){
          query = 'homead';
        }
        else if(searchStr.search('product_category') != -1){
          query = 'category';
        }
        else if(searchStr.search('user') != -1){
          query = 'personal';
        }
        else if(searchStr.search('order') != -1){
          query = 'order';
        }
        else if(searchStr.search('product_all') != -1){
          query = 'product';
        }
        else{
          query = 'order';
        }
        url += ('/'+query);
        console.log("url:" + url + "query: " + query);
        $.ajax(
          {
            type: "POST",
            url: url,
            dataType: "html"
          }
        ).success(function (json) {
          // console.log("1 reloadOrderForUserCenter url: " + url + " \n json: " + JSON.stringify(json));
          eval(json);
          upateUsercenterMenu(query);

        }).error(function (error) {
            // console.log("2 reloadOrderForUserCenter url: " + url + " \n Error: " + JSON.stringify(error));
        });
      }
    }

    function upateUsercenterMenu(type) {

      $('.profile-usermenu li').each(function(){
        var href = $(this).find('a').attr('href');
        if(href.search(type) != -1){
          $(this).addClass("active");
        }
        else{
          $(this).removeClass("active");
        }
      });
    }

    function bindbtnSetonlineEvent(){
      console.log("bindbtnSetonlineEvent");
      $('.btn-setonline').on('click',(function(event){
        event.preventDefault();
        event.stopImmediatePropagation();
        var onlineVar = $(this).attr("online");
        onlineVar = onlineVar == 1 ? 0 : 1;
        var product_id = $(this).attr('product_id');
        var href = $(this).prop('href');
        $.ajax({
          context: this,
          url:href,
          type: "POST",
          dataType:"text",
          data:{online:onlineVar, id:product_id}
        }).success(function(json){


            try{
              console.log('handlebtnSetonlineEvent: success' + json );
              var td =  $(this).parent();
              var tr = $(td).parent();
              var offflinetext = $(tr).find('.product-state');

              if(1 == onlineVar){
                $(this).text("下架");
                $(this).attr('online','1');
                $(offflinetext).text("已上架");
                $(offflinetext).removeClass("onffline-text")
              }
              else{
                $(this).text("上架");
                $(this).attr('online', '0');
                $(offflinetext).text("已下架");
                $(offflinetext).addClass("onffline-text")
              }

            }catch(error){
              console.log('error: ' + JSON.stringify(error));
            }

        }).error(function(error){
            console.log('handlebtnSetonlineEvent: error' + error );
        });
      }));
    }

    function bindCategoryLinkEvent(){
      $('.admin-category-list a').on('click', function(event){
        event.preventDefault();
        event.stopImmediatePropagation();
         var url = $(this).prop('href');
         var cart_id = $(this).attr('cate_id');
         $.ajax({
            type: "POST",
            url: url,
            dataType: 'html',
            data:{'id': cart_id}
         }).success(function(result){
            console.log('bindCategoryLinkEvent success:' + JSON.stringify(result));
            eval(result);

              $('.admin-category-list a').each(function(){
                  $(this).removeClass('active');
                  if($(this).attr('cate_id') == cart_id){
                    $(this).addClass("active")
                  }
              });

         }).error(function(result){
           console.log('bindCategoryLinkEvent error:' + JSON.stringify(result));
         });
      })
    }

    handleHomeCategoryState();
    handleMouseOverCartIcon();
    handleUserCenterMenuLinkClick();
    handleAddressListModalEvents();
    handlePayNowButtonEvent();
    handleCartListEvent();
    reloadConententForUserCenter();

    $('#profile-content').bind("DOMSubtreeModified", function(){
      bindbtnSetonlineEvent();
      bindCategoryLinkEvent();
    });

  })
  </script>
</html>
